WP7Data.PushTriggerApp/Service References/PushService/PushService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsPhoneSubscribed">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelURI" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPhoneSubscribedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPhoneSubscribedResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="channelURI" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nick" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="device" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubscribePhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubscribePhoneResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribePhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="deviceId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UnsubscribePhoneResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLog">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetErrorLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetErrorLogResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToastMessageToAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendToastMessageToAllUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRawMessageToAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendRawMessageToAllUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTileMessageToAllUsers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendTileMessageToAllUsersResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>