WP7Data.PushConsumerApp/Service References/PushService/PushService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="PushService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://wp7pushservice.apphb.com/PushService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://wp7pushservice.apphb.com/PushService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPushRegistration_SubscribePhone_InputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePhone" />
  </wsdl:message>
  <wsdl:message name="IPushRegistration_SubscribePhone_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribePhoneResponse" />
  </wsdl:message>
  <wsdl:message name="IPushProvider_SendToastMessageToAllUsers_InputMessage">
    <wsdl:part name="parameters" element="tns:SendToastMessageToAllUsers" />
  </wsdl:message>
  <wsdl:message name="IPushProvider_SendToastMessageToAllUsers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendToastMessageToAllUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="IPushRegistration">
    <wsdl:operation name="SubscribePhone">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushRegistration/SubscribePhone" message="tns:IPushRegistration_SubscribePhone_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushRegistration/SubscribePhoneResponse" message="tns:IPushRegistration_SubscribePhone_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IPushProvider">
    <wsdl:operation name="SendToastMessageToAllUsers">
      <wsdl:input wsaw:Action="http://tempuri.org/IPushProvider/SendToastMessageToAllUsers" message="tns:IPushProvider_SendToastMessageToAllUsers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPushProvider/SendToastMessageToAllUsersResponse" message="tns:IPushProvider_SendToastMessageToAllUsers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IPushRegistration" type="tns:IPushRegistration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubscribePhone">
      <soap:operation soapAction="http://tempuri.org/IPushRegistration/SubscribePhone" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpBinding_IPushProvider" type="tns:IPushProvider">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SendToastMessageToAllUsers">
      <soap:operation soapAction="http://tempuri.org/IPushProvider/SendToastMessageToAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PushService">
    <wsdl:port name="BasicHttpBinding_IPushRegistration" binding="tns:BasicHttpBinding_IPushRegistration">
      <soap:address location="http://wp7pushservice.apphb.com/PushService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpBinding_IPushProvider" binding="tns:BasicHttpBinding_IPushProvider">
      <soap:address location="http://wp7pushservice.apphb.com/PushService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>